<!DOCTYPE html>
<html>
    <!-- create a class for the text size and font -->
    <head>
        <title>
           BMI Calculator 
        </title>
        <link rel = "stylesheet" type="text/css" href="static/style.css">
  </head>
  <h1>
    BMI Calculator
  </h1>
  <body>
    <p>
        Height
        </p>
        <!-- the name= "Feet" is used for the get in teh py file for the server -->
    <form action = "{{ url_for('BMICalculations') }}" method="post">
        <label for="Feet"> Feet: </label>
        <select id = "Feet" name="Feet">
            <option value = "3"> 3 </option>
            <option value = "4"> 4 </option>
            <option value = "5"> 5 </option>
            <option value = "6"> 6 </option>
            <option value = "7"> 7 </option>
            <option value = "8"> 8 </option>
        </select> 

        <label for="Inches"> Inches: </label>
        <select id = "Inches" name="Inches">
            <option value = "0"> 0 </option>
            <option value = "1"> 1 </option>
            <option value = "2"> 2 </option>
            <option value = "3"> 3 </option>
            <option value = "4"> 4 </option>
            <option value = "5"> 5 </option>
            <option value = "6"> 6 </option>
            <option value = "7"> 7 </option>
            <option value = "8"> 8 </option>
            <option value = "9"> 9 </option>
            <option value = "10"> 10 </option>
            <option value = "11"> 11 </option>
        </select>
    <p>
        Weight
    </p>
        <label for="Pounds"> Pounds: </label>
        <input type = "number" id = "Pounds" name = "Pounds" min = "50" max = "1000"><br>
        <button type = "submit" > Calculate </button><br> 
    <p>
        Your BMI is: {{result}} <br>
        BMI Category: {{categoryResult}}
    </p>
    </form>
  </body>
</html>